/* Reset some default browser styles */
body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

header {
    background-color: #052b6f;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    text-align: center;
    padding: 10px;
    background-color: #052b6f;
    font-family: 'Arial', sans-serif;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    {% comment %} transition: background-color 0.3s, color 0.3s; {% endcomment %}
}

nav a:hover {
    background-color: #fff;
    color: #052b6f;
    border-radius: 5px;
}

.profile-picture {
    width: 200px;
    height: 200px;
}


h1 {
    font-size: 24px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#people-list {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 8px;
}

a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

a:hover {
    color: #007bff;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #749f22;
    color: #fff;
}

.person {
    margin-bottom: 20px;
}

.pin {
    font-style: italic;
    color: #666;
}
