<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="../../style.css"> <!-- Optional CSS file for styling -->
    {% if custom_css %}
    <link rel="stylesheet" href="{{ custom_css }}">
    {% endif %}
</head>
<body>
    <header>
        <h1>Profile Page</h1>
        <!-- Add navigation links or other header elements if needed -->
        <nav>
            <a href="../../index.html">Home</a> <!-- Link to the home page -->
        </nav>
    </header>
    {% if custom_js %}
    <script src="{{ custom_js }}"></script>
    {% endif %}
    <main>
        <section id="about">
            <h2>About Me</h2>
            {{ index | safe }}
        </section>

        <section id="projects">
            <h2>Projects</h2>
            {{ projects | safe }}
        </section>

        <section id="publications">
            <h2>Publications</h2>
            {{ publications | safe }}
        </section>

        <section id="comments">
            <script src="https://giscus.app/client.js"
            data-repo="dku-ug/dku-ug.github.io"
            data-repo-id="R_kgDOKHyzaA"
            data-category="General"
            data-category-id="DIC_kwDOKHyzaM4CYsNy"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="light"
            data-lang="en"
            crossorigin="anonymous"
            async>
            </script>
        </section>
        
    </main>

    <footer>
        <!-- You can add a footer with additional information or links here -->
    </footer>
</body>
</html>
